<h2 mat-dialog-title>Add a Message</h2>
<div *ngIf="loading" class="overlay">
  <mat-spinner diameter="50"></mat-spinner>
</div>
<mat-dialog-content>
  <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" required>
      <mat-error *ngIf="messageForm.get('email').hasError('required')">
        Email is required.
      </mat-error>
      <mat-error *ngIf="messageForm.get('email').hasError('email')">
        Please enter a valid email.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Message</mat-label>
      <textarea matInput formControlName="message" required></textarea>
      <mat-error *ngIf="messageForm.get('message').hasError('required')">
        Message is required.
      </mat-error>
      <mat-error *ngIf="messageForm.get('message').hasError('minlength')">
        Message should be at least 5 characters.
      </mat-error>
    </mat-form-field>

    <div class="dialog-actions">
      <button mat-raised-button color="primary" type="submit" [disabled]="messageForm.invalid">Submit</button>
      <button mat-button (click)="closeDialog()">Cancel</button>
    </div>
  </form>
</mat-dialog-content>
